@tailwind base;
@tailwind components;
@tailwind utilities;

/*reset*/
@layer base {
  html,
  body {
    @apply font-SCoreDream h-full;
  }
  #__next {
    @apply h-full;
  }
}

select {
  @apply text-sm text-slate-600 dark:text-slate-400 bg-primary border-b border-slate-500 dark:border-slate-500 focus:outline-none;
}

p:not(.about-allposts),
li,
span:not(.detail-paragraph, .tag-name, .itemDetail-prop) {
  @apply text-black dark:text-slate-400;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #fbfbfa;
}

html::-webkit-scrollbar-thumb {
  background: #c7c7c4;
  border-radius: 6px;
}
html.dark::-webkit-scrollbar-track {
  background: #0f172a;
}
html.dark::-webkit-scrollbar-thumb {
  background-color: #23345c;
}

/*custom*/
.bg-primary {
  @apply bg-[#fbfbfa] dark:bg-slate-900;
}

.flex-line {
  @apply flex items-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.flex-start {
  @apply flex items-start justify-between;
}

.flex-center {
  @apply flex items-center justify-center;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.laptop-max-width {
  @apply w-full lg:max-w-3xl mx-auto;
}

/*header*/
header {
  @apply fixed top-0 z-50 w-full backdrop-blur-md bg-[#fbfbfa]/30 dark:bg-slate-900/30;

  > div {
    @apply flex items-center justify-between py-2 px-4 lg:px-0;
    nav.header-style {
      @apply flex gap-2 items-start;
      a {
        @apply relative block p-2 font-semibold;

        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 0;
          position: absolute;
          left: 50%;
          bottom: 5px;
          background-color: transparent;
          transition: all 0.3s;
        }

        &:hover::after {
          width: 100%;
          left: 0;
          background-color: #2c82f2;
        }
      }

      .text-point-color {
        @apply text-[#2c82f2];
      }
    }
  }
}
