@tailwind base;
@tailwind components;
@tailwind utilities;

/*reset*/
@layer base {
  html,
  body {
    @apply font-SCoreDream h-full scrollbar-w-3 scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-[#c7c7c4] dark:scrollbar-thumb-[#23345c] scrollbar-track-[#fbfbfa] dark:scrollbar-track-slate-900;
  }
  #__next {
    @apply h-full;
  }
}

select {
  @apply text-sm text-slate-600 dark:text-slate-400 bg-primary border-b border-slate-500 dark:border-slate-500 focus:outline-none;
}

p:not(.about-allposts),
li,
span:not(.detail-paragraph, .tag-name, .itemDetail-prop) {
  @apply text-black dark:text-slate-400;
}

/*header*/
.header-style a {
  @apply block p-2 font-semibold relative
  after:block after:h-[2px] after:w-0 after:absolute after:left-1/2 after:bottom-[5px] after:bg-transparent after:transition-all after:m-auto
  hover:after:w-full hover:after:left-0 hover:after:bg-[#2c82f2];
}

/* Home */
/* Select Month */
.month-selected {
  @apply !bg-[#2c82f2] text-white dark:text-white;
}

.month-noneSelected {
  @apply bg-gray-200 text-black;
}

.month-disabled {
  @apply opacity-30 !cursor-default hover:bg-transparent;
}

.month-noneDisabled {
  @apply hover:bg-[#2c82f2]/[0.5] hover:text-white;
}

.month-base {
  @apply cursor-pointer text-[10px] px-5 py-1 dark:text-slate-400 dark:bg-gray-600;
}

/*custom*/
.bg-primary {
  @apply bg-[#fbfbfa] dark:bg-slate-900;
}

.text-point-color {
  @apply text-[#2c82f2];
}

.categoty-style {
  @apply text-[#2c82f2] dark:text-[#2c82f2];
}

.page-state-style {
  @apply my-8 flex justify-between items-center;
}

.page-gallery-style {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8;
}

.page-list-style {
  @apply block space-y-6;
}

.item-tagCategory li {
  @apply cursor-pointer p-2;
}

.item-link-style {
  @apply rounded-lg overflow-hidden cursor-pointer bg-gray-100 dark:bg-gray-800;
}

.page-image-style {
  @apply w-full h-full object-cover object-center;
}

.page-noneimage-style {
  @apply w-full h-full bg-gray-400;
}

.page-image-group-hover-effect {
  @apply overflow-hidden rounded-lg absolute
  group-hover:brightness-75 group-hover:transition-all group-hover:ease-in-out group-hover:duration-700;
}

.page-text-group-hover-effect {
  @apply group-hover:text-white group-hover:drop-shadow-lg;
}

.page-text-group-hover-Anieffect-500 {
  @apply text-xs
  group-hover:transition-all group-hover:duration-500;
}

.page-text-group-hover-Anieffect-1000 {
  @apply text-xs 
  group-hover:transition-all group-hover:duration-1000;
}

/* ItemDetailProp */
.ItemDetailPropText h2 {
  @apply drop-shadow-md;
}

/*hearmap : -1값*/
rect[val="-1"] {
  @apply fill-[#f3f4f6] dark:fill-[#1f2937];
}
