/* Move to page or link */
.link-innerPage {
  @apply flex gap-4;
}

.link-innerPage a {
  @apply block py-3 flex-1 text-center rounded-lg overflow-hidden text-xs text-white bg-slate-400 hover:bg-[#2c82f2];
}

.link-outerPage {
  @apply flex justify-between md:flex-row rounded-lg px-4 py-6 gap-4 bg-gray-100 dark:bg-gray-800;
}

.link-outerPage a {
  @apply relative flex items-center justify-center py-2 flex-1 text-center rounded-lg text-white bg-slate-400 hover:bg-[#2c82f2];
}

.link-outerPage a svg {
  @apply text-2xl;
}

.link-outerPage a .tooltip {
  @apply absolute -top-full py-2 px-1 rounded-lg bg-slate-300 text-xs invisible;
}

/* Select Month */
.month-selected {
  @apply !bg-[#2c82f2] text-white dark:!text-white;
}

.month-noneSelected {
  @apply bg-gray-200 text-black;
}

.month-disabled {
  @apply opacity-30 !cursor-default hover:bg-transparent;
}

.month-noneDisabled {
  @apply hover:bg-[#2c82f2]/[0.5] dark:hover:bg-[#2c82f2]/[0.5] hover:text-white dark:hover:text-white;
}

.month-base {
  @apply cursor-pointer text-[10px] px-5 py-1 dark:text-slate-400 dark:bg-gray-600;
}

.heatmap-info span {
  @apply text-xs;
}

.small-box {
  @apply w-2 h-2 rounded-sm;
}

/*hearmap : -1값*/
rect[val='-1'] {
  @apply fill-[#f3f4f6] dark:fill-[#1f2937] cursor-default;
}
rect {
  @apply cursor-pointer;
}

/* day posting */
.day-posting-box {
  @apply overflow-y-auto relative w-full h-[140px];
}
.day-posting {
  @apply w-full mb-2 last-of-type:mb-0 border border-[#cad1dc] dark:border-slate-400 rounded-lg px-4 py-2 flex items-center justify-between;
}
.day-posting-box::-webkit-scrollbar {
  width: 12px;
}

.day-posting-box::-webkit-scrollbar-track {
  background: #f3f4f6 !important;
}

.day-posting-box::-webkit-scrollbar-thumb {
  background: #c7c7c4;
  border-radius: 6px;
  border: 5px solid #f3f4f6;
}
html.dark .day-posting-box::-webkit-scrollbar-track {
  background: #1f2937 !important;
}
html.dark .day-posting-box::-webkit-scrollbar-thumb {
  background-color: #364f8a;
  border: 5px solid #1f2937;
}
