/* blog & project post style */
.post-content-area {
  @apply px-5 lg:px-0 pb-8;

  .post-search-container {
    @apply border border-slate-400 rounded-2xl overflow-hidden w-full lg:w-1/2 mt-10;

    input {
      @apply text-sm px-4 py-2 w-full focus:outline-0 text-black dark:text-slate-400;
    }
  }

  .page-state-style {
    @apply my-8 flex justify-between items-center;

    ul.item-tagCategory {
      @apply flex items-center gap-3 md:max-w-[2/3] mr-1 overflow-x-auto;

      li {
        @apply cursor-pointer p-2;

        &.categoty-selected-style {
          @apply text-[#2c82f2] dark:text-[#2c82f2];
        }
      }

      &::-webkit-scrollbar {
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background: #fbfbfa;
      }

      &::-webkit-scrollbar-thumb {
        background: #c7c7c4;
        border-radius: 6px;
      }
    }
  }

  .none-post-wrap {
    @apply w-full gap-2 !cursor-default p-4;

    svg {
      @apply text-black dark:text-slate-400 text-xl;
    }
  }

  /* item component */
  .post-link-style {
    @apply relative rounded-lg overflow-hidden cursor-pointer bg-gray-100 dark:bg-gray-800;
  }
}

.page-gallery-style {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8;
}

.page-list-style {
  @apply block space-y-6;
}

.page-default-style {
  @apply w-full min-h-[912px] lg:min-h-[904px];

  .post-list-style {
    @apply flex items-center justify-between pr-4 h-20 md:h-24;
  }

  .post-image-container {
    @apply overflow-hidden rounded-lg absolute;

    &.post-gallery-image-container {
      @apply w-full h-1/2 top-0;
    }

    &.post-list-image-container {
      @apply w-[22%] md:w-[110px] h-full left-0;
    }

    .post-image-style {
      @apply w-full h-full object-cover object-center;

      .post-noneimage-style {
        @apply w-full h-full bg-gray-400;
      }
    }
  }

  .post-info {
    .post-name {
      @apply dark:text-slate-200 font-semibold w-full whitespace-nowrap overflow-hidden text-ellipsis;
    }

    &.post-gallery-info {
      @apply p-4 absolute bottom-0 w-full;

      .post-gallery-desc {
        @apply mt-3 w-full whitespace-nowrap overflow-hidden text-ellipsis text-xs;
      }

      .post-gallery-createdTime {
        @apply my-2 text-xs;
      }
    }

    &.post-list-info-left {
      @apply flex h-full items-center ml-[calc(27%)] md:ml-[130px] z-20 w-[73%] md:w-[calc(100%-130px)];

      > div {
        @apply w-2/3 md:w-full;

        .post-list-desc {
          @apply text-xs hidden md:block md:mt-1;
        }
      }
    }

    &.post-list-info-right {
      @apply flex flex-col md:flex-row items-end md:items-center gap-3 z-20 absolute right-4;

      span.bar {
        @apply hidden md:inline-block;
      }

      .post-list-createdTime {
        @apply my-2 text-xs;
      }
    }
  }
}

.post-link:hover {
  > .post-gallery-image-container {
    @apply h-full transition-all brightness-75 ease-in-out duration-700;
  }

  > .post-list-image-container {
    @apply w-full transition-all brightness-75 ease-in-out duration-700;
  }

  .post-info {
    .post-name,
    .post-gallery-desc,
    .post-gallery-createdTime,
    .post-list-desc,
    .bar,
    .post-list-createdTime {
      @apply text-white drop-shadow-lg;
    }
  }
}

/* dark */
html.dark .item-tagCategory::-webkit-scrollbar-track {
  background: #0f172a;
}
html.dark .item-tagCategory::-webkit-scrollbar-thumb {
  background-color: #23345c;
}

/* blog & project post Detail style */
.backBtn-container {
  @apply px-5 lg:px-0;

  button {
    @apply block p-1;
  }
}

/* post props */
.post-detailProps-container {
  @apply relative h-[300px] overflow-hidden mt-4 mb-8;

  .post-detailImg-container {
    @apply absolute w-full h-full;

    .post-image-style {
      @apply w-full h-full object-cover object-center;
    }
  }
  .post-image-blackLayout {
    @apply absolute w-full h-full bg-black/50;
  }
  .post-props {
    @apply px-5 lg:px-0 text-white;

    h2 {
      @apply text-2xl font-semibold mb-7 drop-shadow-md;
    }

    .prop-unit {
      @apply flex items-center mb-4;

      > span,
      > a {
        @apply text-xs text-white;
      }
    }

    .tag-area {
      > span {
        @apply w-24 block;
      }
    }

    .description-area {
      @apply flex items-center mb-3;
      > span {
        @apply min-w-[6rem] block;
      }
    }

    .github-area {
      @apply flex items-center h-6 mt-3 mb-2;
      > span {
        @apply flex items-center gap-2 w-24;
      }
    }

    .date-area {
      > span:first-of-type {
        @apply w-24 block;
      }

      > span {
        @apply pt-1;
      }
    }
  }
}
/* 상세 내용 */
.post-detailContent-container {
  @apply px-5 lg:px-0 pb-10;
}

a.link-style {
  @apply hover:text-[#2c82f2] underline;
}

a.link-none-style {
  @apply mt-6 pb-3 mb-4 font-bold text-sm block border-b border-stone-400;
}

p.paragraph-style {
  @apply text-sm leading-6;

  > span.fontbold-style {
    @apply font-extrabold;
  }
}

li.bulletedList-style {
  @apply pl-3 text-sm leading-6;
}

p.heading3-style {
  @apply text-lg pb-4 leading-6 font-bold;
}

div.quote-style {
  @apply text-sm my-3 py-1 leading-6 relative flex items-center;

  span {
    @apply absolute left-0 right-0 w-1 h-full bg-[#2c82f2b9];
  }

  p {
    @apply pl-5;
  }
}

pre.code-style {
  @apply text-xs overflow-x-auto !text-[#4e5156] dark:!text-[#d6deeb] p-5 bg-[#f6f4ef] dark:bg-[#011627] md:text-sm my-4 border border-transparent rounded-lg dark:border-slate-600;
}

div.image-style {
  @apply relative my-3;
}

div.video-style {
  @apply border border-gray-200 dark:border-gray-700;
}

div.bookmark-style {
  @apply my-2;

  a {
    @apply text-sm text-[#2c82f2] font-bold break-all hover:underline decoration-[#2c82f2];
  }
}

div.embed-style {
  @apply my-2;

  iframe {
    @apply w-full;
  }
}

/* Pagination */
ul.pagination-style {
  @apply flex items-center justify-center gap-3 text-sm py-2;

  li {
    @apply py-1 px-2 cursor-pointer;

    &.ellipsis {
      @apply cursor-default;
    }

    &.aLeft,
    &.aRight {
      @apply py-2 px-2;
    }

    &.currentpage {
      @apply bg-[#5699f1] text-white rounded-md;
    }
  }
}
